# T2 2024 CSC3501 : Assignment 1 (Part B, 65 marks)

In this assignment, we are programming with Python 3.

##  Task 1. Literary Scrabble [50 marks]

In this task, we are programming and playing a round of Literary Scrabble: a game of Scrabble where you can only play words that appear in selected literary classics.  

**You Tasks**:

Answer **Q1-Q4** by complementing each of the **Word Analysis** functions below:
- The **Word Analysis** functions will provide the primary text analysis to help you answer the questions defined in this task. 

You **must** test your code via the inputs and expected outputs in **"Example"** in each question.

Text files for creating word lists are available in the `bed_time_stories` folder (included in this assignment folder).

You are **not allowed** to import the module of "re" (regular expression).

In [1]:
from __future__ import print_function

import string

### I. Word Analysis

#### Q1. Create Story Word List  [20 Marks]

Complete the function below which should read a (bed-time) story (i.e., `text_file`), and return a sorted list (descending) of words extracted from the story that also exist in the file `word_candidates.txt` (which is essentially a list of approved scrabble words).  

More specifcially, you are asked to create a word list from `text_file`, by completing the following tasks: 
- convert all characters to uppercase;  
- replace hyphens with a single space: `' '`; 
- split hyphenated words into separate words; 
- strip off all contractions and possessives from words: 's, 're, etc.; 
- remove all punctuation, whitespace characters and numbers;
- only keep words which also occur in the file `word_candidates.txt`;
- no duplicates in the word list.

HINT: The Python Standard Library provides various string constants, such as `whitespace` and `punctuation`.  You may want to review the Python Standard Library's sections on string methods and constants.
- [String constants](https://docs.python.org/3/library/string.html#string-constants)
- [String methods](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

**NOTE: Creating a story's word list may take several seconds of processing time**.  We recommend you to use the shorter story file `"Jack_and_the_beanstalk.txt"`  while you are testing your code.

**Example:**
`create_wordlist("bed_time_stories/Jack_and_the_beanstalk.txt")` returns:

['WOKE',
 'WITH',
 'WINDOW',
 'WHEN',
 'WERE',
 'WENT',
 'WAY',
 'WAS',
 'VOICE',
 'VERY',
 'UPON',
 'UP',
 'TOOK',
 'TOLD',
 'TO',
 'TIME',
 'THROUGH',
 'THREW',
 'THEY',
 'THERE',
 'THEIR',
 'THE',
 'TAKE',
 'TABLE',
 'SUDDENLY',
 'STARTED',
 'SOON',
 'SOME',
 'SKY',
 'SING',
 'SHOUTED',
 'SHE',
 'SELL',
 'SAW',
 'SAT',
 'SANG',
 'SAID',
 'ROOM',
 'RAN',
 'POOR',
 'OUTSIDE',
 'OUT',
 'ONE',
 'ONCE',
 'ON',
 'OF',
 'NOBODY',
 'NEXT',
 'MOTHER',
 'MORNING',
 'MET',
 'MASTER',
 'MARKET',
 'MAN',
 'MAGIC',
 'MADE',
 'LOOKED',
 'LIVED',
 'LAY',
 'LAID',
 'JUMPED',
 'JACK',
 'IT',
 'INTO',
 'INSIDE',
 'HOME',
 'HIS',
 'HIM',
 'HER',
 'HEN',
 'HELP',
 'HEARD',
 'HE',
 'HARP',
 'HAPPILY',
 'HAD',
 'GROUND',
 'GOLDEN',
 'GOLD',
 'GIANT',
 'GAVE',
 'FUM',
 'FOR',
 'FELL',
 'FEE',
 'EVER',
 'ENORMOUS',
 'EGGS',
 'EGG',
 'DOWN',
 'CUPBOARD',
 'CRASHED',
 'COW',
 'CLOUDS',
 'CLIMBING',
 'CLIMBED',
 'CLIMB',
 'CHOPPED',
 'CASTLE',
 'CAME',
 'CALLED',
 'BOY',
 'BEGAN',
 'BEAUTIFUL',
 'BEANSTALK',
 'BEANS',
 'BACK',
 'AXE',
 'ASLEEP',
 'ANGRY',
 'AND',
 'AN',
 'ALL',
 'AGAIN',
 'AFTER']

In [2]:
word_file = input('the word file name is: ')
story_file = input('the story file name is: ')
def create_wordlist(text_file):
  
    """ 
        text_file argument is created to pass to create_wordlist function for reading story file
        in this function, we return a list of words from story file.
        the words list is extracted if words in story file exist in the word_candidates file.
        words from the story file are stripped numbers, whitespace, punctuation and hyphens, underscores.
        
        return: the word list is sorted by descending, all upper case, no duplicate words.
    """
# Read word_candidates.txt
    with open ('word_candidates.txt', 'r') as file1: # alias file1 for Reading the word_candidate file 
        word_can_unique = set() # create an empty set() for unique words in the word_candidate file
        for word_can in file1:  # looping each word in the word_candidate file
            word_can_unique.add(word_can.strip().upper()) # add unique words into set after stripping and uppering 
                   
# Read the story file                   
    with open(text_file, 'r') as file2: # alias file2 for Reading the story file 
                   story_file = file2.read() 
    
    story_file = story_file.upper() # all words in story file are uppercase 
    story_file = story_file.replace("'", "") # remove single quotes
    story_file = story_file.replace("-", "") # remove hyphens
    remove_punctuation = str. maketrans('', '', string.punctuation) # remove punctuation
    story_file = story_file.translate(remove_punctuation)
    remove_numbers = str. maketrans('', '', string.digits) # remove numbers
    story_file = story_file.translate(remove_numbers)
    
    word_story = story_file.split() # seperate words in the story file 
                   
    wordlist_story = set() # create an empty set with unique, no dupplicated words from the story file after cleaning
    for word_s in word_story: # loop each unique word in the story file 
                   if word_s in word_can_unique: #if it is in the word_candidate file
                       wordlist_story.add(word_s) # then add into wordlist_story set 
    
    sorted_wordlist_story = sorted(wordlist_story, reverse=True) # sort the wordlist_story set by descending
     
    print(sorted_wordlist_story) # print the result
    pass #  a placeholder until the actual arg passed to def function

# create_wordlist("bed_time_stories/Jack_and_the_beanstalk.txt")

the word file name is: Word Candidates
the story file name is: Jack and the beanstalk

In [3]:
create_wordlist("bed_time_stories/Jack_and_the_beanstalk.txt")

['WOKE', 'WITH', 'WINDOW', 'WHEN', 'WERE', 'WENT', 'WAY', 'WAS', 'VOICE', 'VERY', 'UPON', 'UP', 'TOOK', 'TOLD', 'TO', 'TIME', 'THROUGH', 'THREW', 'THEY', 'THERE', 'THEIR', 'THE', 'TAKE', 'TABLE', 'SUDDENLY', 'STARTED', 'SOON', 'SOME', 'SKY', 'SING', 'SHOUTED', 'SHE', 'SELL', 'SAW', 'SAT', 'SANG', 'SAID', 'ROOM', 'RAN', 'POOR', 'OUTSIDE', 'OUT', 'ONE', 'ONCE', 'ON', 'OF', 'NOBODY', 'NEXT', 'MOTHER', 'MORNING', 'MET', 'MARKET', 'MAN', 'MAGIC', 'MADE', 'LOOKED', 'LIVED', 'LAID', 'JUMPED', 'JACK', 'IT', 'INTO', 'INSIDE', 'HOME', 'HIS', 'HIM', 'HER', 'HEN', 'HEARD', 'HE', 'HARP', 'HAPPILY', 'HAD', 'GROUND', 'GOLDEN', 'GOLD', 'GIANT', 'GAVE', 'FOR', 'FELL', 'EVER', 'ENORMOUS', 'EGGS', 'EGG', 'DOWN', 'CUPBOARD', 'CRASHED', 'COW', 'CLOUDS', 'CLIMBING', 'CLIMBED', 'CLIMB', 'CHOPPED', 'CASTLE', 'CAME', 'CALLED', 'BOY', 'BEGAN', 'BEAUTIFUL', 'BEANSTALK', 'BEANS', 'BACK', 'AXE', 'ASLEEP', 'ANGRY', 'AND', 'AN', 'ALL', 'AGAIN', 'AFTER']

#### Q2. Word From Letters [10 Marks]

The `word_from_letters` function below should return `True` or `False` depending on if the `word` can be created from the provided string of `letters`. The `word` does not have to use all of the letters.  NOTE: Each letter in `letters` can only be used once.

**Example**: 
- `word_from_letters('WONDER','APEOTSY')`, returns `False`
- `word_from_letters('LAMB','BMOEALMR')`, returns `True`

In [4]:
# Counters behave like dictionaries in many ways; they map from each key to the number of times it appears.
# If trying to access a key that doesn't exist, it will return 0

from collections import Counter

In [5]:
def word_from_letters(word, letters):
    
    """ 
        word_from_letters function is created to identify if the given word is in the given letters
        
        'word' and 'letters' are the two arguments with the 'string' type

        Return True or False
        True if the word can be created from the provided string of letters
        else: False if cannot
        
        Example:

        word_from_letters('WONDER','APEOTSY'), returns False
        word_from_letters('LAMB','BMOEALMR'), returns True
        
    """
    
    word_hist = Counter(word) # created the word hist Counter object
    letters_hist = Counter(letters) # created the letter hist Counter object
    for word_char, word_count in word_hist.most_common(): # loop each word character and word count in it most common characters and their counts. 
        
        #create a new letter_count variable where returns the count of word character in letters_hist if it exists, or 0 if it doesn't.
        letter_count = letters_hist.get(word_char, 0)
        
        print(word_char, word_count, word_char, letter_count)
        
        ## Compare word_count with letters_count. 
        # If word_count > letter_count, it means word character is not in letters. -> False 
        # If word_count =< letter_count, it means there is in one or more word character in letters -> True
        if word_count > letter_count:
            return False
        else:
            return True
    
    pass #  a placeholder until the actual arg passed to def function

In [6]:
word_from_letters('WONDER','APEOTSY')

W 1 W 0

False

In [7]:
word_from_letters('LAMB','BMOEALMR')

L 1 L 1

True

#### Q3. Word Score [10 Marks]

The `word_score` function below should return a word's scrabble score (integer). Use the following word score values to calculate the word's scrabble score(https://en.wikipedia.org/wiki/Scrabble_letter_distribution):


Points | Letters
:--: | :--
1 | E,A,I,O,N,R,T,L,S,U                
2 | D,G    
3 | B,C,M,P         
4 | F,H,V,W,Y           
5 | K  
8 | J,X    
10| Q,Z    


**Example**: `word_score("ADVENTURES")` returns `14`

In [8]:
# import pandas library
import pandas as pd

In [9]:
# Using defaultict is another way to count the words in a document, or characters in a string
from collections import defaultdict

In [10]:
def word_score(word):
    """ 
        define a function word_score which takes each word in letters 
        and then scrabble score for that word with interger type.
        
        score values are calculated for 'word' an argurment
        
        required result: return a word's scrabble score (integer)
        
        Example: word_score("ADVENTURES") returns 14
    """
    # Create dictionary with provided points and letters:
    
    points = [1, 2, 3, 4, 5, 8, 10]
    letters = [
        'EAIONRTLSU',
        'DG',
        'BCMP',
        'FHVWY',
        'K',
        'JX',
        'QZ'
    ]
    
    word_score_values = {} # create new dict 'word_score_values'

    for score, letter in zip(points, letters): 
        # zip each letter in letters list for each element in the points list
        # then assign point value to the matching string of letters
        # for example: 1: 'EAIORNRTLSU', 2: 'DG', ...
        for L in letter:
            # continiuosly inter loop each word in the letter string
            # for example: 'EAIORNRTLSU' -> 'E,A,I,O,N,R,T,L,S,U'
            word_score_values[L] = score
            # then assign score value to the separated word. e.g.: 1:'E', 1:'A', 1:'I',...
    
    Total_word_scores = 0 #Create an empty score for total word score
    
    for w in word: # loop each word character in word
            Total_word_scores += word_score_values.get(w, 0) # Total_word_scores is sum of each word score
            print('Word: ', w, 'Score: ', Total_word_scores) # show step-by-step of total score of each word 
                
    return Total_word_scores

    pass #  a placeholder until the actual arg passed to def function

In [11]:
word_score("ADVENTURES")

Word:  A Score:  1
Word:  D Score:  3
Word:  V Score:  7
Word:  E Score:  8
Word:  N Score:  9
Word:  T Score:  10
Word:  U Score:  11
Word:  R Score:  12
Word:  E Score:  13
Word:  S Score:  14

14

#### Q4. Find Words [10 Marks]

You're playing Literary Scrabble where you can only play words extracted from famous stories. You have pulled your letters and there are lots of possibilities but you obviously want to play a hand which will get you the highest score. 

Complete the `find_words` function below which should return a dictionary of valid words (selected from the provided `word_list`) that can be created from the `letters` provided. The keys for the returned dictionary are the words, the values are each word's scrabble score. 

- Use the `word_from_letters` function above to find word/letters matches.  
- Use the `word_score` function above to calculate each word's scrabble score.  

**Example:**
`find_words(["LAMB","REAL","WONDER"],"BMOEALMR")` returns `{'LAMB': 8, 'REAL': 4}`

In [12]:
def find_words(word_list, letters):
    """ 
        word_list and letters are provided in question 2, passed to find_word function in order to find if 
        each word from word list matching to letters
        
        using the word_from_letters function to check word matched to letter
        using the word_score function to calculate total score of each word from matched word.
        
        required return should be a dictionary which keys are the matched words, values are each word's scrabble score
    """
    
    Total_find_word_scores = {} # Create an empty dictionary containing keys and total score for matched words
    
    for word in word_list: # loop each word in the word list arg
        if word_from_letters(word, letters): # if each word in word list is matching with letters
            find_word_score = word_score(word) # then, each word score is deprived from word_score where contains point values 
            Total_find_word_scores[word] = find_word_score # calculate total scores from each word.
            
    return Total_find_word_scores
    pass #  a placeholder until the actual arg passed to def function

In [13]:
find_words(["LAMB","REAL","WONDER"],"BMOEALMR")

L 1 L 1
Word:  L Score:  1
Word:  A Score:  2
Word:  M Score:  5
Word:  B Score:  8
R 1 R 1
Word:  R Score:  1
Word:  E Score:  2
Word:  A Score:  3
Word:  L Score:  4
W 1 W 0

{'LAMB': 8, 'REAL': 4}

## Task 2. Introduction to Pandas (15 marks)
For the next set of questions, you will be using census data from the [United States Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2017. A copy of the data description document `co-est2017-alldata.pdf` has been provided in the assignment folder.  We strongly recommend that you review this file before starting this task.

#### Q5. Load data (5 marks)
Complete `load_file` function to load the census data file (`co-est2017-alldata.csv`) into a DataFrame, `census_df`, has been provided below.

**Example**:

`head(load_file('data-A1-Task2/co-est2017-alldata.csv', encoding='latin1'))` should return the first 5 rows of `co-est2017-alldata.csv` (please manulally open `co-est2017-alldata.csv`to check on the first 5 rows).

In [14]:
import pandas as pd

In [15]:
def load_file(file_path, encoding):
    """ 
        load_file is created to load the data file
        file name is co-est2017-alldata.csv
        pandas use file_path is to read the file
        encoding the data by latin1
        
        the result should return a DataFrame which shows the first 5 rows.
    """
    data = [] # Create an empty list for data rows
    column = [] # Create an empty list for data columns
    check_columns = False # check if column names is being running
    with open(file_path, encoding=encoding) as file: # Open file from the file_path with encoding
        for line in file.readlines(): # loop each line in the file to read line by line
            line = line.replace("\n","") # replace new line character to ''
            line = line.split(',') # separate each line by ','
            if not check_columns: # check if column names is NOT being running
                column = line # make the first line as column names
                check_columns = True # return True when column names are set
            else:
                data.append(line) # if column names is being running, then append next lines into data row
    
    census_df = pd.DataFrame(data=data, columns=column) # Create census_df DataFrame with using data and columns created above
    return census_df

    pass #  a placeholder until the actual arg passed to def function

In [19]:
# Read and generate the first 5 rows

census_df = load_file('data-A1-Task2/co-est2017-alldata.csv', encoding='latin1')

# load_file('data-A1-Task2/co-est2017-alldata.csv', encoding='latin1').head()

census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,040,3,6,01,000,Alabama,Alabama,4779736,4780135,4785579,...,-0.317204964,-0.404472969,0.7888823468,0.4507405291,0.9393925366,1.3642955333,0.6942708279,0.6785750955,0.5589305685,1.7082178942
1,050,3,6,01,001,Alabama,Autauga County,54571,54571,54750,...,-1.950739275,4.8312688438,1.0471015147,5.9118318493,-6.10210123,-4.050281878,2.0993254776,-1.659039945,5.1037088162,1.3179036306
2,050,3,6,01,003,Alabama,Baldwin County,182265,182265,183110,...,17.047871877,20.493600928,22.383175012,16.285939985,17.196785826,22.615285459,20.380904012,17.903748691,21.317243867,23.163872737
3,050,3,6,01,005,Alabama,Barbour County,27457,27457,27332,...,-16.22243601,-18.75552481,-19.0423948,0.2560210669,-6.822433335,-8.018920217,-5.549761621,-16.41106898,-18.94769207,-19.15994044
4,050,3,6,01,007,Alabama,Bibb County,22915,22919,22872,...,0.9313877678,-1.416117184,-0.882982716,-5.041979964,-4.096645596,-5.890037865,1.2434496847,1.8184237371,-0.531043944,0

In [20]:
census_df.tail() # show the 5 last rows

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
3188,050,4,8,56,037,Wyoming,Sweetwater County,43806,43806,43569,...,-14.46836022,-18.56659586,-23.6503036,1.3473088077,15.451125709,-5.787973877,-12.0276058,-14.20084046,-18.2519078,-23.3313207
3189,050,4,8,56,039,Wyoming,Teton County,21294,21294,21295,...,1.5704750687,-1.385011578,-4.47841533,0.3740852447,2.9639921269,19.984103554,13.999955696,2.0503424508,-0.95219546,-4.090860157
3190,050,4,8,56,041,Wyoming,Uinta County,21118,21118,21093,...,-10.66666667,-11.23135138,-18.05562297,-18.52733854,-4.58255764,-10.5340928,-14.30450903,-10.71471471,-11.2795546,-18.10415959
3191,050,4,8,56,043,Wyoming,Washakie County,8533,8533,8537,...,0.4823926676,-14.43824314,-15.38272213,-12.59045714,-2.724957052,-1.305792972,-19.024828,0.4823926676,-14.43824314,-15.38272213
3192,050,4,8,56,045,Wyoming,Weston County,7208,7208,7198,...,3.4908887803,-1.251825579,-40.63716814,-9.345142618,-10.69293,6.615059817,0.9805294859,4.8872442924,0,-39.36283186

In [21]:
print(census_df['STATE'].value_counts(ascending=True)) # value count of each STATE by ascending

STATE
11      2
10      4
44      6
15      6
09      9
33     11
25     15
50     15
04     16
23     17
32     18
34     22
56     24
24     25
49     30
02     30
35     34
41     37
53     40
16     45
45     47
38     54
54     56
30     57
06     59
36     63
22     65
08     65
46     67
42     68
01     68
12     68
55     73
05     76
40     78
28     83
26     84
27     88
39     89
18     93
31     94
47     96
19    100
37    101
17    103
20    106
29    116
21    121
51    134
13    160
48    255
Name: count, dtype: int64

In [22]:
census_df['STATE'].dtype # check column type of State

dtype('O')

In [23]:
print(census_df['REGION'].value_counts()) # value count of REGION
print()
print(census_df['DIVISION'].value_counts())# value count of DIVISION

REGION
3    1439
2    1067
4     461
1     226
Name: count, dtype: int64

DIVISION
4    625
5    597
7    474
3    442
6    368
8    289
9    172
2    153
1     73
Name: count, dtype: int64

### Q6 (10 marks)
What are the REGION and DIVISION for the first state in `census_df` ?

Complete the `data_extract`function to extract the REGION and DIVISION values for the first state in the dataframe `census_df` which you returned from Q5 above.

*This function should return a Tuple with two values (REGION, DIVISION).*

**Example**: 
- `data_extract()`, returns `(3,6)`

In [24]:
def data_extract():
    """ 
        Creat data_extract function to extract REGION and DIVISION values for the first state
        from cencus_df created in question 5
        
        two values (REGION, DIVISION) will be presented as tuple type
        Example:

        data_extract(), returns (3,6) 
    """
    
    first_state = census_df[census_df['STATE'] == '01'] # fill and create a new Dataframe of the first state only
    
    region_of_1state = first_state['REGION'].unique() # get unique value of REGION column from the first state dataframe
    division_of_1state = first_state['DIVISION'].unique() # get unique value of DIVISION column from the first state dataframe
    
    return (int(region_of_1state), int(division_of_1state)) # change value types to integer of region_of_1state and division_of_1state
                                                            #return a tuple value for those values
    
    pass #  a placeholder until the actual arg passed to def function

In [25]:
data_extract()

(3, 6)